*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

:root{
  --primary-color:#141922;
  --sec-color:#080B12;
  --black:#000000;
  --third-color:#282828;
  --text-color:#787A7F;
  --icon-color:#D2D2D2;

}

.debug{
  background-color: rgba(147, 233, 233, .3);
  border: 1px solid black;
}

main{
  display: flex;
}

main .wrapper{
  height: 100%;
  width: 100%;
}

aside{
  width: 230px;
  flex-shrink: 0;
  background-color: var(--black);
  color: var(--text-color);
}

main .topbar{
  height:90px;
  background-color: var(--sec-color);
  color: white;
}


main .container{
  width: calc(100%-230px);
  overflow: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.container .topbar button{
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: var(--sec-color);
}

.container .topbar button a{
  text-decoration: none;
  color: white;
}

.container ul{
  display: flex;
  list-style: none;
  justify-content: center;
} 

.container ul li{
  padding: 20px;
}

h2 {
  color: white ;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
}

main .cards .row{
  display: flex;
}

main .cards .row .col{
  width: calc(100%/6);
  height: 280px;
  text-align: center;
  padding: 5px;
}

main .cards .row .col h3{
  color: white;
}

main .cards .row .col img{
  width: 100%;
}

/* /MAIN */

/* FOOTER */

footer{
  height: 90px;
  background-color: var(--third-color);
  color: white;
}