*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.8rem;
}

:root{
  --primary-color:#141922;
  --sec-color:#080B12;
  --black:#000000;
  --third-color:#282828;
  --text-color:#787A7F;
  --icon-color:#D2D2D2;

}

.debug{
  background-color: rgba(147, 233, 233, .3);
  border: 1px solid black;
}

main{
  display: flex;
}

main .wrapper{
  height: 100%;
  width: 100%;
}

aside{
  width: 230px;
  flex-shrink: 0;
  background-color: var(--black);
  color: var(--text-color);
}

aside ul{
  list-style: none;
}

aside ul li{
  margin: 20px;
}

aside ul li img{
  width: 30px;
  margin-right: 5px;
}

aside ul li a{
  text-decoration: none;
  color: var(--text-color);
}

aside .logo{
  width: 170px;
  margin: 15px;
}

aside h3{
  color: white;
  font-size: 1.3rem;
  margin: 20px;
}

main .wrapper .container .topbar{
  height:90px;
  background-color: var(--sec-color);
  color: white;
  justify-content: end;
  align-items: center;
}


main .container{
  width: calc(100%-230px);
  overflow: auto;
  background-color: var(--primary-color);
  color: var(--text-color);
}

.container .topbar button{
  border: 1px solid white;
  padding: 10px 40px;
  border-radius: 30px;
  background-color: var(--sec-color);
}

.container .topbar button a{
  text-decoration: none;
  color: white;
}

.container ul{
  display: flex;
  list-style: none;
  justify-content: center;
} 

.container ul li{
  padding: 5px 20px 5px 20px;
}

h2 {
  color: white ;
  margin-top: 20px;
  margin-left: 20px;
}

section{
  margin-top: 50px;
}

main .cards .row{
  display: flex;
  margin: 20px 0 0 20px;
  flex-wrap: wrap;
}

main .cards .row .col{
  width: calc(100%/6);
  height: 280px;
  text-align: center;
  padding: 5px;
}

main .for-me .cards .row .col{
  height: 250px;
}

main .popular .cards .row .col{
  height: 200px;
  margin-bottom: 50px;
}


main .cards .row .col h3{
  color: white;
}

.dida{
  margin-left: 20px;
  margin-top: 5px;
}

main .cards .row .col img{
  width: 100%;
}

main .popular .cards .row .col img{
  width: 100%;
  border-radius: 50%;
}

/* /MAIN */

/* FOOTER */

footer{
  height: 90px;
  background-color: var(--third-color);
  color: white;
}


/* MEDIA QUERY */

@media screen and (max-width:1100px) {
  
  main .cards .row .col{
    width: calc(100%/4);
  }

  main .cards .row .col p{
    padding: 10px;
  }

  h2{
    font-size: 1.5rem;
  }

}


@media screen and (max-width:700px) {
  main .cards .row .col{
    width: calc(100%/2);
    margin-bottom: 25px;
  }

  .container ul{
    flex-wrap: wrap;
  }

  h2{
    margin-top: 0;
  }
}

@media screen and (max-width:600px){

  aside{
    width: 50px;
  }

  main .container{
    width: calc(100%-50px);
  }
}
